<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="park.epam.com.parkit">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".NotificationView"
            android:label="Details of notification"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <service
            android:name=".BasicService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".park.epam.com.dao.EmplyeeProvider"
            android:authorities="park.epam.com.parkit.park.epam.com.dao.EmplyeeProvider" />

        <activity
            android:name=".RegistraionActivity"
            android:label="@string/title_activity_registraion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LiveStatus"
            android:label="@string/title_activity_live_status"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".service.NotificationReceiver">
            <intent-filter>
                <action android:name="YES_ACTION" />
                <action android:name="STOP_ACTION" />
            </intent-filter>
        </receiver>

        <activity android:name=".DashboardActivity" />
        <activity android:name=".AdminActivity"></activity>
    </application>

</manifest>